<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudian.szhjg.mapper.TMetadataMapper">
  <resultMap id="BaseResultMap" type="com.fudian.szhjg.pojo.TMetadata">
    <!--@mbg.generated-->
    <!--@Table t_metadata-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="metadata_name" jdbcType="VARCHAR" property="metadataName" />
    <result column="metadata_chinese" jdbcType="VARCHAR" property="metadataChinese" />
    <result column="metadata_type" jdbcType="VARCHAR" property="metadataType" />
    <result column="default_field" jdbcType="CHAR" property="defaultField" />
    <result column="is_not_null" jdbcType="CHAR" property="isNotNull" />
    <result column="is_sys_built" jdbcType="CHAR" property="isSysBuilt" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_by, create_time, update_by, update_time, metadata_name, metadata_chinese, 
    metadata_type, default_field, is_not_null, is_sys_built, remarks
  </sql>
  <select id="selectByExample" parameterType="com.fudian.szhjg.pojo.TMetadataExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fudian.szhjg.pojo.TMetadataExample">
    <!--@mbg.generated-->
    delete from t_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.fudian.szhjg.pojo.TMetadataExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from t_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update t_metadata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.metadataName != null">
        metadata_name = #{record.metadataName,jdbcType=VARCHAR},
      </if>
      <if test="record.metadataChinese != null">
        metadata_chinese = #{record.metadataChinese,jdbcType=VARCHAR},
      </if>
      <if test="record.metadataType != null">
        metadata_type = #{record.metadataType,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultField != null">
        default_field = #{record.defaultField,jdbcType=CHAR},
      </if>
      <if test="record.isNotNull != null">
        is_not_null = #{record.isNotNull,jdbcType=CHAR},
      </if>
      <if test="record.isSysBuilt != null">
        is_sys_built = #{record.isSysBuilt,jdbcType=CHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update t_metadata
    set id = #{record.id,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      metadata_name = #{record.metadataName,jdbcType=VARCHAR},
      metadata_chinese = #{record.metadataChinese,jdbcType=VARCHAR},
      metadata_type = #{record.metadataType,jdbcType=VARCHAR},
      default_field = #{record.defaultField,jdbcType=CHAR},
      is_not_null = #{record.isNotNull,jdbcType=CHAR},
      is_sys_built = #{record.isSysBuilt,jdbcType=CHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>