<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudian.szhjg.mapper.TTaskJuanMapper">
  <resultMap id="BaseResultMap" type="com.fudian.szhjg.pojo.TTaskJuan">
    <!--@mbg.generated-->
    <!--@Table t_task_juan-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pc_id" jdbcType="VARCHAR" property="pcId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="dalx" jdbcType="VARCHAR" property="dalx" />
    <result column="qzh" jdbcType="VARCHAR" property="qzh" />
    <result column="mlh" jdbcType="VARCHAR" property="mlh" />
    <result column="ajh" jdbcType="VARCHAR" property="ajh" />
    <result column="dh" jdbcType="VARCHAR" property="dh" />
    <result column="dhqj" jdbcType="VARCHAR" property="dhqj" />
    <result column="nd" jdbcType="VARCHAR" property="nd" />
    <result column="bgqx" jdbcType="VARCHAR" property="bgqx" />
    <result column="oajh" jdbcType="VARCHAR" property="oajh" />
    <result column="xm" jdbcType="VARCHAR" property="xm" />
    <result column="xb" jdbcType="VARCHAR" property="xb" />
    <result column="mz" jdbcType="VARCHAR" property="mz" />
    <result column="csrq" jdbcType="TIMESTAMP" property="csrq" />
    <result column="zjlx" jdbcType="VARCHAR" property="zjlx" />
    <result column="cjzzsj" jdbcType="TIMESTAMP" property="cjzzsj" />
    <result column="cjgzsj" jdbcType="TIMESTAMP" property="cjgzsj" />
    <result column="bm" jdbcType="VARCHAR" property="bm" />
    <result column="gbzt" jdbcType="VARCHAR" property="gbzt" />
    <result column="rwzt" jdbcType="VARCHAR" property="rwzt" />
    <result column="dqgx" jdbcType="INTEGER" property="dqgx" />
    <result column="lqr" jdbcType="VARCHAR" property="lqr" />
    <result column="qzmc" jdbcType="VARCHAR" property="qzmc" />
    <result column="ajtm" jdbcType="VARCHAR" property="ajtm" />
    <result column="fz" jdbcType="VARCHAR" property="fz" />
    <result column="bkbsm" jdbcType="VARCHAR" property="bkbsm" />
    <result column="qssj" jdbcType="VARCHAR" property="qssj" />
    <result column="zzsj" jdbcType="VARCHAR" property="zzsj" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dagdm" jdbcType="VARCHAR" property="dagdm" />
    <result column="dagmc" jdbcType="VARCHAR" property="dagmc" />
    <result column="ys" jdbcType="INTEGER" property="ys" />
    <result column="claim_time" jdbcType="TIMESTAMP" property="claimTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fudian.szhjg.pojo.TTaskJuan">
    <!--@mbg.generated-->
    <!--@Table t_task_juan-->
    <result column="zjhm" jdbcType="LONGVARCHAR" property="zjhm" />
    <result column="xgyj" jdbcType="LONGVARCHAR" property="xgyj" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pc_id, project_id, dalx, qzh, mlh, ajh, dh, dhqj, nd, bgqx, oajh, xm, xb, mz,
    csrq, zjlx, cjzzsj, cjgzsj, bm, gbzt, rwzt, dqgx, lqr, qzmc, ajtm, fz, bkbsm, qssj,
    zzsj, create_by, create_time, update_by, update_time, dagdm, dagmc, ys, claim_time,
    finish_time
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    zjhm, xgyj, remark
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.fudian.szhjg.pojo.TTaskJuanExample" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_task_juan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.fudian.szhjg.pojo.TTaskJuanExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_task_juan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fudian.szhjg.pojo.TTaskJuanExample">
    <!--@mbg.generated-->
    delete from t_task_juan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.fudian.szhjg.pojo.TTaskJuanExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from t_task_juan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update t_task_juan
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pcId != null">
        pc_id = #{record.pcId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.dalx != null">
        dalx = #{record.dalx,jdbcType=VARCHAR},
      </if>
      <if test="record.qzh != null">
        qzh = #{record.qzh,jdbcType=VARCHAR},
      </if>
      <if test="record.mlh != null">
        mlh = #{record.mlh,jdbcType=VARCHAR},
      </if>
      <if test="record.ajh != null">
        ajh = #{record.ajh,jdbcType=VARCHAR},
      </if>
      <if test="record.dh != null">
        dh = #{record.dh,jdbcType=VARCHAR},
      </if>
      <if test="record.dhqj != null">
        dhqj = #{record.dhqj,jdbcType=VARCHAR},
      </if>
      <if test="record.nd != null">
        nd = #{record.nd,jdbcType=VARCHAR},
      </if>
      <if test="record.bgqx != null">
        bgqx = #{record.bgqx,jdbcType=VARCHAR},
      </if>
      <if test="record.oajh != null">
        oajh = #{record.oajh,jdbcType=VARCHAR},
      </if>
      <if test="record.xm != null">
        xm = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.xb != null">
        xb = #{record.xb,jdbcType=VARCHAR},
      </if>
      <if test="record.mz != null">
        mz = #{record.mz,jdbcType=VARCHAR},
      </if>
      <if test="record.csrq != null">
        csrq = #{record.csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zjlx != null">
        zjlx = #{record.zjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.cjzzsj != null">
        cjzzsj = #{record.cjzzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cjgzsj != null">
        cjgzsj = #{record.cjgzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bm != null">
        bm = #{record.bm,jdbcType=VARCHAR},
      </if>
      <if test="record.gbzt != null">
        gbzt = #{record.gbzt,jdbcType=VARCHAR},
      </if>
      <if test="record.rwzt != null">
        rwzt = #{record.rwzt,jdbcType=VARCHAR},
      </if>
      <if test="record.dqgx != null">
        dqgx = #{record.dqgx,jdbcType=INTEGER},
      </if>
      <if test="record.lqr != null">
        lqr = #{record.lqr,jdbcType=VARCHAR},
      </if>
      <if test="record.qzmc != null">
        qzmc = #{record.qzmc,jdbcType=VARCHAR},
      </if>
      <if test="record.ajtm != null">
        ajtm = #{record.ajtm,jdbcType=VARCHAR},
      </if>
      <if test="record.fz != null">
        fz = #{record.fz,jdbcType=VARCHAR},
      </if>
      <if test="record.bkbsm != null">
        bkbsm = #{record.bkbsm,jdbcType=VARCHAR},
      </if>
      <if test="record.qssj != null">
        qssj = #{record.qssj,jdbcType=VARCHAR},
      </if>
      <if test="record.zzsj != null">
        zzsj = #{record.zzsj,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dagdm != null">
        dagdm = #{record.dagdm,jdbcType=VARCHAR},
      </if>
      <if test="record.dagmc != null">
        dagmc = #{record.dagmc,jdbcType=VARCHAR},
      </if>
      <if test="record.ys != null">
        ys = #{record.ys,jdbcType=INTEGER},
      </if>
      <if test="record.claimTime != null">
        claim_time = #{record.claimTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishTime != null">
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zjhm != null">
        zjhm = #{record.zjhm,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.xgyj != null">
        xgyj = #{record.xgyj,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--@mbg.generated-->
    update t_task_juan
    set id = #{record.id,jdbcType=VARCHAR},
      pc_id = #{record.pcId,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      dalx = #{record.dalx,jdbcType=VARCHAR},
      qzh = #{record.qzh,jdbcType=VARCHAR},
      mlh = #{record.mlh,jdbcType=VARCHAR},
      ajh = #{record.ajh,jdbcType=VARCHAR},
      dh = #{record.dh,jdbcType=VARCHAR},
      dhqj = #{record.dhqj,jdbcType=VARCHAR},
      nd = #{record.nd,jdbcType=VARCHAR},
      bgqx = #{record.bgqx,jdbcType=VARCHAR},
      oajh = #{record.oajh,jdbcType=VARCHAR},
      xm = #{record.xm,jdbcType=VARCHAR},
      xb = #{record.xb,jdbcType=VARCHAR},
      mz = #{record.mz,jdbcType=VARCHAR},
      csrq = #{record.csrq,jdbcType=TIMESTAMP},
      zjlx = #{record.zjlx,jdbcType=VARCHAR},
      cjzzsj = #{record.cjzzsj,jdbcType=TIMESTAMP},
      cjgzsj = #{record.cjgzsj,jdbcType=TIMESTAMP},
      bm = #{record.bm,jdbcType=VARCHAR},
      gbzt = #{record.gbzt,jdbcType=VARCHAR},
      rwzt = #{record.rwzt,jdbcType=VARCHAR},
      dqgx = #{record.dqgx,jdbcType=INTEGER},
      lqr = #{record.lqr,jdbcType=VARCHAR},
      qzmc = #{record.qzmc,jdbcType=VARCHAR},
      ajtm = #{record.ajtm,jdbcType=VARCHAR},
      fz = #{record.fz,jdbcType=VARCHAR},
      bkbsm = #{record.bkbsm,jdbcType=VARCHAR},
      qssj = #{record.qssj,jdbcType=VARCHAR},
      zzsj = #{record.zzsj,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      dagdm = #{record.dagdm,jdbcType=VARCHAR},
      dagmc = #{record.dagmc,jdbcType=VARCHAR},
      ys = #{record.ys,jdbcType=INTEGER},
      claim_time = #{record.claimTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      zjhm = #{record.zjhm,jdbcType=LONGVARCHAR},
      xgyj = #{record.xgyj,jdbcType=LONGVARCHAR},
      remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update t_task_juan
    set id = #{record.id,jdbcType=VARCHAR},
      pc_id = #{record.pcId,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      dalx = #{record.dalx,jdbcType=VARCHAR},
      qzh = #{record.qzh,jdbcType=VARCHAR},
      mlh = #{record.mlh,jdbcType=VARCHAR},
      ajh = #{record.ajh,jdbcType=VARCHAR},
      dh = #{record.dh,jdbcType=VARCHAR},
      dhqj = #{record.dhqj,jdbcType=VARCHAR},
      nd = #{record.nd,jdbcType=VARCHAR},
      bgqx = #{record.bgqx,jdbcType=VARCHAR},
      oajh = #{record.oajh,jdbcType=VARCHAR},
      xm = #{record.xm,jdbcType=VARCHAR},
      xb = #{record.xb,jdbcType=VARCHAR},
      mz = #{record.mz,jdbcType=VARCHAR},
      csrq = #{record.csrq,jdbcType=TIMESTAMP},
      zjlx = #{record.zjlx,jdbcType=VARCHAR},
      cjzzsj = #{record.cjzzsj,jdbcType=TIMESTAMP},
      cjgzsj = #{record.cjgzsj,jdbcType=TIMESTAMP},
      bm = #{record.bm,jdbcType=VARCHAR},
      gbzt = #{record.gbzt,jdbcType=VARCHAR},
      rwzt = #{record.rwzt,jdbcType=VARCHAR},
      dqgx = #{record.dqgx,jdbcType=INTEGER},
      lqr = #{record.lqr,jdbcType=VARCHAR},
      qzmc = #{record.qzmc,jdbcType=VARCHAR},
      ajtm = #{record.ajtm,jdbcType=VARCHAR},
      fz = #{record.fz,jdbcType=VARCHAR},
      bkbsm = #{record.bkbsm,jdbcType=VARCHAR},
      qssj = #{record.qssj,jdbcType=VARCHAR},
      zzsj = #{record.zzsj,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      dagdm = #{record.dagdm,jdbcType=VARCHAR},
      dagmc = #{record.dagmc,jdbcType=VARCHAR},
      ys = #{record.ys,jdbcType=INTEGER},
      claim_time = #{record.claimTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="getLengthTask" resultType="int">
    SELECT count(1) from t_task_juan where pc_id = #{pcId}
      and rwzt = '已完成'
      <if test="qzh != null and qzh != ''">and qzh = #{qzh}</if>
      <if test="mlh != null and mlh != ''">and mlh = #{mlh}</if>
      <if test="ajh2 != null and ajh2 != ''">and ajh <![CDATA[ >= ]]> #{ajh2}</if>
      <if test="ajh3 != null and ajh3 != ''">and ajh <![CDATA[ <= ]]> #{ajh3}</if>
  </select>
  <select id="randomExtraData" resultType="com.fudian.szhjg.pojo.TTaskJuan">
      SELECT * FROM t_task_juan WHERE pc_id = #{pcId}
        and rwzt = '已完成'
        <if test="qzh != null and qzh != ''">and qzh = #{qzh}</if>
        <if test="mlh != null and mlh != ''">and mlh = #{mlh}</if>
        <if test="ajh2 != null and ajh2 != ''">and ajh <![CDATA[ >= ]]> #{ajh2}</if>
        <if test="ajh3 != null and ajh3 != ''">and ajh <![CDATA[ <= ]]> #{ajh3}</if>
        <if test="ajIds != null and ajIds .size() > 0 ">
           and id not in
           <foreach collection="ajIds " item="item" open="(" separator="," close=")" index="index">
              '${item}'
           </foreach>
        </if>
       ORDER BY RAND() limit ${num};
  </select>
</mapper>